include bibliopixel/VERSION
include bibliopixel/main/commands.rst.tmpl
include bibliopixel/commands/template/*
include scripts/to_install/*
recursive-include ui *
include requirements.txt
include README.md
recursive-exclude test *
recursive-exclude bin *
recursive-exclude build *
recursive-exclude htmlcov *
recursive-exclude dist *
