include bibliopixel/VERSION
include scripts/*
include requirements.txt
include bibliopixel/remote/static/*
recursive-exclude test *
recursive-exclude bin *
recursive-exclude build *
recursive-exclude htmlcov *
recursive-exclude dist *
