include bibliopixel/VERSION
include scripts/*
recursive-include ui *
include requirements.txt
include README.md
recursive-exclude test *
recursive-exclude bin *
recursive-exclude build *
recursive-exclude htmlcov *
recursive-exclude dist *
