html {
    font-family: overpass-mono;
    font-weight: bold;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}

*:focus {
    outline: none;
}

#title {
    height: 3rem;
    width: 100%;
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 1; /*hacky - but makes work on some phones*/
}

#brightness {
    height: auto;
    background: black;
    width: 3rem;
}

.noUi-vertical .noUi-handle {
    width: 3rem;
    left: 0px;
    height: 2.5rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
}

.noUi-vertical:focus .noUi-handle:focus {
    outline: none;
}

.noUi-target {
    border-radius: 0px;
    border: 0;
    background-color: transparent;
    background: transparent;
    box-shadow: none;
}

.noUi-base {
    height: 100%;
    border-radius: 0px;
}

.noUi-connect {
    background: #f36926;
    border-radius: 0px;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

#button_list {
    flex: auto;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn {
    font-size: 2rem;
    width: 100%;
    margin-top: 0.5rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    resize: vertical;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn:hover {
    opacity: 0.75;
}

.btn:active {
    opacity: 1.0;
    background-color: green;
}

/* Loading Animation */

body.loading:after {
	/* with no content, nothing is rendered */
	content: "";
	position: fixed;
	/* element stretched to cover during rotation an aspect ratio up to 1/10 */
	top: -500%;
	left: -500%;
	right: -500%;
	bottom: -500%;
	z-index: 9999;
	pointer-events: none; /* to block content use: all */
	/* background */
	background-color: rgba(0,0,0,1);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATYAAAE2CAYAAADrvL6pAAAsaklEQVR4AezczUtUXQDH8TsOMirqgyioTytFwwENCsShdq7CpeWuBJdKKYJQKxURoXa1LDBQly58WRWCWMLYJILuXZiK4ozB+IJ4uTOn78L2OZcW957fFz5/weH+VvccR/37zvvvAkAR6tGJEcxhE7v4KYG2i03MYQSdqEcRnD+UCtuwlSGOHkxhHinsIY1fEmhp7CGFeUyhB3GUhW3YlEYtghLEMYQF7OMSHnLISyjk4OES+1jAEOIoQSQs46Y0bFG0YRArOIYLI6Hm4hgrGEQbomEYNqVhi6IavVjCKYxY5RRL6EU1ok7AUxq2cjzAexzAhbGKuDjAO9xHuRPwlIatFk+xrFGzmotlPEGtE/CUhq0Rw0jCWE2SGEajE/CUhq0FE9iGsZpsYwItTsBTGrY4JrEDYzXZwSTiTsBTGrYmvMYPGKtJCq/Q5AQ8pWG7g+f4Ag/GSuLhM57hfyfgKQ3bf3iEj0hr3Kzk4QQf8BCVjlIh+EG3Di/xDWcwYpUsvuIF6vSDrgrLlaoYEhhFSuNmlSy+YxQJxOAoFZZL8JVI4C2SyOAKHvIwPuSRgye+5OD7LODhChkk8QYJVOoSvArPsAFRVKEdA5jFFk5w7fNDcnGODNJSkAzO4foct2ucYAuz6Ec7qhDV00UqfOMGxNCMboxhEYdwYQrg4gjrmMH0jU/yV6ZvzGAdRz7P4hCLGEM3mhHTQ5Mq7MMWQTEq0IA+bOACpgAXSGEcHWjFPbmVVnRgHCmfZ7GBPjSgAsWIaNiUHQMHlKILq8jCFOAMaxhADWIokVuJoQYDWMMZTAGyWEUXSuEAgFI2jFwRSvH4N7t1cNJAFMRxeFEIqHgV67CKRCxBPJoytLGE1bNYgz140FNwhCd4zj5mNPt98G9gh/3xYtuJYRtj9+2FMNheO2/fcJwYtm276UnsaIBiwiZsa2HrA2Fb9QzbsA9+h+2pQ9hWPcMGwoawgbAhbCBsBYQNhA1hA2FD2EDYEgkbCBvCBsKGsIGwFRA2EDaEDYQNYQNhSyRsIGwIGwgbwgbCVkDYQNgQNhA2hA2ELZGwgbAhbCBsCBsIWwFhA2FD2EDYEDYQtkTCBsKGsIGwIWwgbAWEDYQNYQNhQ9hA2BIJGwgbwgbChrCBsBUQNhA2hA2EDWEDYUskbCBsCBsIG8IGwlZA2EDYEDYQNoQNhC2RsIGwIWwgbAgbCFsBYQNhQ9hA2BA2ELZEwgbChrCBsCFsIGwFhA2EDWEDYUPYQNgSCRsIG8IGwoawgbAVEDYQNoQNhA1hA2FLJGwgbAgbCBvCBsJWQNhA2BA2EDaEDYQtkbCBsCFsIGwIGwhbAWEDYUPYQNgQNhC2RMIGwoawgbAhbCBsBYQNhA1hA2FD2EDYEgkbCBvCBsKGsIGwFRA2EDaEDYQNYQNhSyRsIGwIGwgbwgbCVkDYQNgQNhA2hA2ELZGwgbAhbCBsCBsIWwFhA2FD2EDYEDYQtkTCBsKGsIGwIWwgbAWEDYQNYQNhQ9hA2BIJGwgbwgbChrD1h7AtYxthO5iwbWJLYTsoeLF5sQnb3AnbWewm9hx7F7Z/H7afW1zHToVtbvxE3zuOXcbuYq+xz4k/01rYysP2EXuJ3cYu2o0HmFPYFrGr2GPsLbYTtj8RtnFC2Hbtlg/ttgthY25h+2rvzOOrrK5+f8/JnJBgAlEQRcEBaQuUQRyUFgSh1RZFr4qtQ3mp4lC1ilVwqAyVvra1Kr7alireQttrrShYWqtt5X0JoOJAQS2KQBUIQxJChkCG5Jx71x9f/DzSHoGsfYbnedb+fL4f/jIxe6/fevbea9il7NYWC3sQRmfvdf4qTBaKbHY7N7gWmKwJ5MAe1vQq1tgm10bwHRrkC58XHhI2Cq0KIdUKzwsThQKb5c4NLvsn4pRqFevRypo+xBrn7193GzaC7th6C1ey02ru7DEUdgqPC6OFHJvlTq9NjjCaudypWI84a/pX1rh3YB2bDXNo/BvhCz5K+LmwubMCgnZhvXCb0F/Istnu9BplMYe3MaftmrVhbX/GWucLEa8t2LARpJ1arnCccLOwRmhS7gxqhRdJLyhFPJ0btkYR5vA85rRWuZNuYo1vZs1zbedmI6iO7QjhAmEBwulQCCdGmshsoZ+QrRaNrVE2czmbuY0p1qeDNV7Amh9hji2ow9I7+gtzhL87cGp1wkJhvFDqTDT28SllThcyx1rn9nfWvL+lfwRx2DGnh3CR8Beh3sExZy33Qcc7P+bYdcHxzO1aB9cF9az5RdiAXRcEZphgcoSzhAeETZpdAHwsPCGcK+Q7F4t9hPKZ2yeYa81axVjzB7CBHPsABWHYDiBLKBeuJ6u9XrkDaKHs5z+EPrZTS9q69WGO/4c5jyuTqJcJ12ELWbZuNvwukK7C2cI8YacyjaBN+FCYKwwSCpImEFu3AuZ4LnPepknLYe3nYQtdbd1s+FkgUaJstwsrNU4N9giLSPwsS7owbP3KmOtFmrI3aMcGbscmorZ+NvzalqiEtkQvCDuUx5lWEkfvoFQnL+nCMMeWx1zfwdxrSt/i2MAL2ESJtTWy4ffuHap6UNgmPM2ldnFqvvi242auxzL321gLbR3pDOv+YcOvgiinW8RSoVH5pW/lEvsWoa/dz6T2vo05v4U1aFXuvBuxicnYiH2gbPhGDIV8kX9Of642ZcCgUvgvYbhQbI4ttY6NOR/OGlRq1xOb+Dk2UmhracNPX/hvCxUOunfUCS/zhe8mZKW8mNqaF2Qx95NZizoH3T8qsJGM34HbMIcWEfK4k5kvbFXeyXQIG6hdHJ72VtPWyn04a7FBUxIHW7GRsdhMxBxcpg5zbHl8gb8nrBP2KjPWa4Q/COcL3dNr+La+rMH5rEmNsoJkLzbyPWwmz9Y3U4cZfrkwQfitUO8gvWM1EbQTM2a3Zru2E1mT1Q7SP+qxlQnYjjm2jBtWX5hNpvpPhXeEdqXR15CpPpZM9Ujajd4cW4S1GMva1Cg/Xu3YyoPCQGwoo+p+bVh6xzHCN7X1oNAgvEZtYS8hJ2O+5rYrz2FNrmONGpRrXY/NfBMbsvSPjBm2WysQzhEecZDEGaM28THh7Mw8gtqRlLV5jLWKOUi+fgQbKkj7rs2GDY4PvagBfFWZjBvjUvlFXkw6JjN3arZzY20mslZ7lc6tEdu5HVvKtpnOhGEdV0fTcbVaaFcGDP4h/KfQ37p3ZHz3j/6s1T+UgYR2bGchtmQdkVM/zLC9d2sUSd8tvCXEtQEDomT/Wyi2I0nGX0EUs1a/dRBIiGNDd2NTUa+t2bCRymz0UuFi4U9ClfKepZn++DcJJ9vjLP54/IW1uom1a1baQBW2dDG2ZVUmaRl2FBkq/EBbDwpbhF8LXxYKbbfmm11bIWv2a9bw/2nrSLGpoXYVkY5hju1IYQqXx00O8pleEW4QjvNdyN9SfY5j7V5xkL/YhE1NwcZS5thsmFPrIpwuPMljHx3Kr/Q24WFqEbuYMfvSHoazhtuUu/cObOpJbMzsIWXDvtAnk6C5WmhX7tZ20zHiaqHUuqr6tltyKWv4Mmuq2bW1Y1vXYWu2g0/JsF5r44XfCNs1BgzvCfcKQ/0dMLBAAmt4L2saV37wtmNj461nW7KHHTnyeYjjPnKX9imTcauE31N72I3f4dc5UuL/v501HMuaVimTdvdhY/dhc/nJmiMbVgDdQ7hcWIzhxZXpHSt4KKQ3xw2/O7QIf0f2YZB1YC8yH89DlLW8g7Vt1uzosbHF2FwPa4Rgw+XwNpAcTn3gB0qn1iHsoD5wJBfE/hU04KjKeGz4JO6HTkrAyfQhO0ooCIJjgy6s6SOscYfGuWFrj2F7eZYG5HpY0XNvYRIdHRq1HR34ol/Nlzjb54KOCCVkzI8n9eG7wq38+++4VbhR+Aai7S5k+9nB8282a/ot1ljb6aURm5uEDVpTBBvOhFsgfEX4hbDTQTeH9+nbdipCiPC7/LybHcTF+YvsMjYdAh8Ir9OPbJxQ5nvHRm8+nPVDrLW228tObO8r2KIJ04b6aJErHC/cJbwhNCuNtEFYQo1hD79fCLODOI7d59+EmsO9JGde7xe+QL+zSADspqdwCWvdoPwYNjNHd2GLuWq7sWHtvvlSPivs0dyZIOJ3hVm0mM4LwDzlCGfQ5aJSiHfiHqlW+DMRxaIg3COxiz2RtX5XGUHvwPaexRatjbh6WCR0MC8TrRM6lEGDXcJT3EN1CYiAc4VRvLlZrXjYZDnz0lWIBiHgxBqPZ813KYMIHdjgbGyyExFSG7ZT4y1JWja/vP+IpWCvJ5v8xKBkk+PYxgiPKx3bCuFC4QghGqAqlRM9VSp7lTZUgy1+E9vMsp2bjc6E7c/kkr9SeQSNCRuFX3rD9gFybKOFxzrp2OIIvkK4IGCOzZsm9EtsIKY8klZik2daHamNzhhkb1ISljnos7VP+AMh+6P9aYzm2BQfyaNZ+6XYgrZv3zJss7cdSW0cbk7WSOFpvpAxZbvvf9Jja6BQyO9JR3lTKB2bfj7Uv7eQdJj7sYVW5e6/Etscia2ac7NxSPciAzyvubcpAwZVhPwvwQijoXNs5tiirD3pH6puy3Fsch02OuCz7mtt2PAa4GXCIqHGgQG+JdyBAUZS7NCiQi5kKUSdGY5NPx+5Qt5+RwCpPAkMwBbe0n4wsc1F2GrJocyZDXt56Idkxrcou+LupGX0CASbyh1CAU+5fY5Sp94cibKUdZmpd2z6wvx8oZy1HUhCcVdvAX4q1oa/bQQ2sVPZbbcFG/2hvWhm42BC6CVcxYMa+xy0nVkm3MLlcXaqHBuiPYPf/XMictOELwndQ+TYIgh+EK22HxXm0wroq7Tezk6hY8vGFm7BNrRtr/Zhq1cJvcyxJRr2mvtZOIKNGI9mt7aVGsgR7BhStVMr5ZXymfTgr2R3sIrqgDE4tyzBF45N4dRKhGHCrTiAj0iUXYOTGy8ck2Lnlo9NPIiNtCttbSM2e5a9Im/j35UF9RGuF952kEhZyxd5olCOE0nFHU4XXkyaw+Vyo9AOTRSdPyKMwwFGAurYIp5I5EySf+uENuaiWfjQ06H2qBTuqLOwiYnYSK028RubvR4bzjFF29hvbMUY+HzEqX34dh27o8EIJpLMh5uhjKPmAxRM701wL7OO8qexCNr7s3zq2JgHwKmdTtH4igTOo8WTNH2J0DMVOzdP94/B2Mg6B/ZWje2Ox5b/lw27V8sRTqBYeY0yYBCj/9YziNRTrJzU0q8Sjjc/4OvdisEnitS+LzyIcytFaBnn2BTHz0E4tVUH6YfWJmymlvN8oRdzEUnBupXz9z7joPtHC7Y7C1vOsfs2c2xH8aV7geNKzMGxYJq3vUxSBUIysefr33CI/5/r2bmNE7r73LF5o59DPcfP+oOsZxyn8KGwQLi4swEFRTus6TglzfVHDNt9Yf/R2hybvSx0OiHz9Q6OBFs62xBQ8XjICJza6sMs/WoT1nLnNhZBR/m5fnBszAHwticflZXCnsPc8WwW5gkXCb08u55UNTDd4sD+1mPLp9uLZ+HdqWVzHJgsLPcKQSnOKz2PsyQ3isvxk51a82EKI46gNwgPeY6lXufGv5nj2BLkqXUh+fX7ODWOdoedTL1JWCicx64nKqTi8Zcr+fv3Kp3bHmx5MradHb6dmzm2YiKIjztIloxxbzVX+GKyn0pDyAOFGcKbCFnb/PIxz87NF47N4+BPE+7hZ+xROIcWIsc/w7kVC5FkP+mIzczFhmIOksIfx7aLw+fY7HGWvp5n0tqVu7VG4Tn6ZHVPQWTtaB5B+SNiRMgqQbxHO5yxnl5fGeXYEgQKhniOn3WaeYBm4R3hbnZTOcn+yGIzV2BDjcr1bPc869jXHn8JVzLuEQj4eWGXypC4fGbH0F/IT4Fj68ex6y0HTs3rXD5g58DDKhnq2NipsdOZ6Tl+dmjngp+xm3uvYUKXFD3E3R8b+lAZmY9j089j40dY0m5IdmsIYjovbbcphbCDl7+/LhQjymQ7tr5k07+qdmwArQQUHk2c55Z6x+Z1AlDEBfn0xHlqKse2XXiYx2UKUvCyVdSTS/ksNqX5G9qw7enYesB3bXavFhW6su1fgiC03Tte553MfinsFtGdWscFQlUC56z5mz5InOeGIFPj2Fg3wAFwv3i3N0/NETF2a8uEG3HsWSm0z358sF530P2jFhu/ApuPBve+zRxbEV+whxw0/GsXtglPUHBekkLHlktKwrdoXcNDIc7Yyxf/MY6l5Wl2bN48tWEUsVd489Qc0cAueKowWPHyuiYn8Qxsahs2pm1w+hAJy0XBdWzWGbeP8G3hb9pLd0T1knDd/hywNBypTxGuoeX0did3TICo1nEkG4tziwqpcmwHOrViHpi+M2Gemr5iZIUwm9+T8ogi83skNvWScjcax8b/is33sU67wQwY5CPAhXR5iCuFsIl0i2F82dPhqHO4b7tWWMwxqsPhsbSZPLeHPYXz0RQ7tgi7DdJbDsxTUxMnmvomx9sh+k7HqnXNw7HOwMY0f2ccW1/IGuUHL5Bgr7n344jxjoMHNarYJX3dK/Z0/G0I4WThGpzbdsfH0mZv4bw3zy2Zju2A5p+n43RcBwriQgM/925+T7G6VlSftFuKbS3F1rQPCb2D7fcL1ivydgQto4PD/3Vw2dxO+dL3XQcMFN09Iji3axHDriQEFP7hCSiUEVBIomMjT40INoGCOsfHzz3Cqxw/h7g/fqoDCfdha9qebfXY/iWsnZ+PpDY8wvscyaekd6hznOYj5tJMcGyQL/Rl5/ac18k4znN7lGNpt6Q4Nlp28/cM9ha0O75DrMdp3MnRj+Nnxji2UuZ1vv6KgQ+TaAAt5JpjC8abjpdyiaq9m2nkC3+z0Ius9IwQAuR4Agp/ECod5rl5C+fnsnPrjkhGOnJs43FsxZ6Cdo6fzgMFFdxjnZZBpUcHrmUvbO01bE/zNzeggUv9+batObQDG/qdzRFqk4OAwT8R9UgMLxODJFn05JpCG5saod3hzq1V+ICv/zk4t9HcwVVpd2yIeYAnT60h0bop2vu8wTGP42fmHc08zm0ku+R/OggkbEILZ3sboJqD85djy6Er6o1E0uodffEuS8nDGfoSnRM9x9KdSchze49o6Ve5u5mrcGyNQgU/ZwxOZzlOyGmeGs5ymidQEM3wtTxGmOjoxFGPFm5EG6k/cdjQ31EgkieFagd3FO8KP+Ypu7xMM4YEWfqneAIKO5KQ57aGfm6zSCnYrTjiv0mt5Cycj+vjZx2ini0MS+nxU5/+8Xls710Hd8TVaGIMGjHH5qdIKKKewbGjXdvnCuFehDFEfODYIkKuJ8/teRxPzHGqxIdChfIeaC/5VstYrwbH+Xj1/NzpwtCUBwr0tlyK7S100DewnbmYgUYsQuoTpxbl3udC4UWhxsGxa63wXX0/+bTlufXjWLpEqHQcLW0RqpU1q204xSqnKR04XxzvvYo8tYx4lwMbXOfgFbUatHEhWomac8t8Q8gn0jWbC9e4g8ztBcI5+trBtKWDRL15bl4nFFjIU6OgfFam5KkpgkJ52KCLypk42piNVvLNsWW+AZRTa/eyttYO8S/LwFo7fZ4bF/0BpgGndqcwXBEoyMRa52Xa7h9o42W0Up75H2xr932aMM9Bd4Q2voxz+dp38bEoEhXOV3ru3IKCN09tlsepsXa+tu8u2OJcbLPNQXeaecpcPhspKCs6SbiB6FeH4osWF2pJcr06KF1ImaNsT57bEm+eWwDw5qndm7F5avruz1djm7VKG+9AKzegnYjm8WwbyelAWiScR03cNgepDOs9HUhzhCDtbPMx5GuIltKx1ccQKECo0zM4T02ftEv9LDaq/ShtQzPnoaGoObbMivydIkxjsfc56Bm/WBjng92aJs+tnyegwEtdvt6preJCfGhAj1beXds4bFT7Zsc+NDMNDeVlzryZY+vGq02LSBuIKZMYX+WLeAL3UsGaL8CI+3h2bjUekfgH8tQQ5zBf5Knpm4yegI2+qsz5i6GZRWioW+bMm6V3DBIecfQuYxUvFJ2Tynbf/D3pIEfoR7RtCUeTuM8CBcuFe72X4CGgBBv9BTarfhcXDQ3KjPQPS8Y9lvc8l6tf0uY4Qwi8h5DN70q1Q4tANEVkk+c2hWMpAQVfHD9XCzO9nW9DQi71nteza6t30JZqOVo61pJ2099rbQwvX3/sIHVhAzV5Z7GTiaTJsWVxTMxPEXnc23xOuIGd2y4fBApWU186giNUgZAfePg7Sf8YyYMtHzr4UHyMlsZYz7b0tvvuLdyOgTdpjzTsViYIPdJwBI1gqP2FUZS7XJQiJtAy6GISWn8vbE/FkVSZjrOS3doV/P8zZ8GHv3U8u+yf4dhU64WGVqOp3tZGPD2OrVw4n1C1tr1NM50qZnEpm50Gx1ZIF4epwm+F/6bJYkWKWA6r6CKxR+jIYMdWL2xGiMuFilDBeuHc1zppcMDxHk2dj8ZSoQMbnrungcIc4e8OFrRGeJIHNEpSvZD8PV+gW+pfhK0YWAMCThV1Qi3/tmZ4EKGVaN4eqA8hdVDvcL1iaGoOGotauVXqQt3dhEtovrfbwSs+a7hb6pOOZFx+59eE32TA3ZZh7EZbl6C1FKU8WXrHmcIDwhYH0bvN7NZGCHnpKL/hMvgKjGmPCSvNGO1o6wG0ZukfKdit9RS+gxNocvAg8EvCZKF3Gl+cKhQmcXdSb8LKAIwmNPYdNJfEXZsFDEr4gvxK2K7crbXQk+rHPB5SlK4aOXZs3xL+R99o0TD0oK3taO3M5Carm2PrL9wmvOHgsrSGMpKJLFrUHJthAC+SobXb0J5jfZhDi1IqM4Ecq50O2lmvJV/nCwnv1cyxGcZONDfBfbcUc2yFHBdn8TZiizKcvY0I5JeEYnNsCTGMFjQ3Cw0WmmNz59h6csG/VGhSHkGbuRS96aA1cebYDCOO5paiwZ7m2ByUGXkeZ3lC2OygJVGl8BMaERYddJHMsRlGDO09gRbz9acc695xgnAtl5jNygWqFV4RrvQmHppjM4yD0owGr0WTipOOlU4VkZH/pIP21TFqIOcIw9zn5ThxbMszNY/NMNDgk2iyyEqtOt+9ow8NBNcqH4ntYCf0HL3dj8ykewK29t/gObRaE1BGYvB4OJrs07nuH+bYjqQ1yyJ2MTEH2+i7heMzbUHoJnIOvbC2mICMDO9YvAhtHsYGwV6ciuB4hgk/Et5TLkaHsJ2eVeM49mXisfsEjqOLhY2kpFR6/k0226BSqBZafNDdo4613er9/zfgAPthXZu13XDQ5I/QaO6hNWQ1x5Yt9ETkKx3cOTXQY+wqoRc/PxN3qXnsJi8jZ2ge9xm/TBHzYCGtk3ZkcHvwOCJ9i95h8w7pbzQW05CyycHjOSvRaM9UtdAPwmvXY4T/QlzaZofreTl7GM4j4oOuwEOFc5iH0UnmHA/n00F3MXMfy2DHtode/7P5GJwjjOJvMoB5GQ1XCU8JHzg4Be1Ao6PRrDm2zxB2lnCc51mxFu0DFYh0onBUyidf8ZhLiolSLzuQua8Q6nxQx/gPmhicK5TR1y6SEKMnj7W8QB/CuLIiYRX2ctxnp06ZYytjl/KsUOMgYPC+cB8vMOX7xrGlnlxeefo+uXS1PnmlqkF4R3gEuylL+Dca3ofFZ7Jra1bOfw1aZe4T6ct6re1/un+dEFN+UbbzdsCFlnOT0JFGqJU9lSPoSh82umwT1uHcxgrlVqidOEjFsXECd5PblbvmGHM/He16c0NtYIhdyeX6o1CtmXCMfTVvLp5sWdIJy9WKOH7eh1NrEGI+rGVs5lL8YZxbaeI1t2oeNHE9GmlTbiCq0ew30HDUJpqvKgIbyn3JR0Kr8mLzY2G+cHrCi03bqRUwP/cIFRw/4z4v+XmHC+2xB+ZY8S/DAnSs/Xy00qFMu/kI7Q79dP21fUF6U4P2MhOl7UTwknBDwvdBzamVCEM4QqwKRH0qO3VyrB7EuZUlfErR7KAHGnlJ2zEHzb6MhnuHfbfs3TmMEBbi+eMOHqGYw72R9Y5iHLBTGyzM8hw/OwLUYmcvF+OPkpDdzWwgYY/DU9GK9lGkONpdiJYLhEjYAwYn8WDEGmGf9n1QvkCXYdBZ/C4zZI78tJ2ZhlMLal1qGzWNj3qOpRFzcJ9owfuM5WVopsbRM5Y3ouksIbRHoi5ELX/lIGDQwUOvM7kQj5hD+5fo5wDu1FaxU4sHvF//BuGnnoBClt27fXoHj1Zmop0OB4GE/yNcgLa9H5PQCC6f6MwPuPRtVh5Bq2n3fa4dPz79AWGuhxP9XCHUOY5+xkH134PrbhTveQIK5f/i2Mw+uqGZ36ChdgcBnNns2vLC6Nh6CZcKSx2kGTRytJoqHCPkfOqXWqBgGHlqq1zmqSGCek+hdZvi6FhHhG6n4zu/dsT2EM6tu2XJf8pWctDMVDTUqE2aRtOXoPFQObZs4WzhMY4LMeXXfguRsC8L+Z9cXNoxo5CjxgzXeWrMew2F6M9zT1Ov+DC9L/xOeJGf2+Hw/3MfdvYwAYVS5sccGzt6tPMgWoorndsGtH02Wg+82LxfiOuE1zVfCKgTXuEStMcnBmv3agUECu4SVjgOFMRxkssow7qD4uqaTv6sRmxhqnCrsIRdoOs8t3WeY+lRdizFZqgjRUOvONjVs56icU5Q/J5Ai64rhvULhBB3cMz4Ce+DRj/Zrdnxc5Aw3UnrJ4AYhv8aTm248HUikFWK3MMKYQIpCFOEF/h5bQ6dcbuw3vLc/u2uLYvg0oNoqt3Bbv4XzHPXoDu2iNAXQawWWhzsGp4WLvrUxbDlqQ0VZrJTq3d8Z9XA1/hOkny7edpMVSlyzyqIph2FjXybVu5VSQgovG95bgxsB8rR0tPaqDnaXo3W+2Kbge7e8RWOGtXK+559fFmmCSd6IzAhPn52YQflPk+NttA4oJn8niI6g4ziTqXagWMr5ujST7hG+AOBiXgS8twesTy3T9lQHlqahrb2aewFe1iM5oPT/YM/whswGMpDEO87CBhsJf/tqyxIJMx5aji1AXwhVzrOU4txl/kGP38IDiiCYxvt0LEdIWRBX8+xtEZod3gsbbE8t397JM1DU79CY6pAAlq/B5vJ9sxtYLKcy4RJwp+FWgfdHCo4rpyAMYa9oH04H40K7sDijgMFK7mzOx2nRmsg947N87PzyYe6hsjrjiQcS98VHrPCeWxKQFPfZk2albZUS6R7Ej4gKxCODYoR3lyiXW3KY8QmXnQawnHICtqT0U+NnRr5b7PZcRd7xZ8sx3ZAk4RTKLBemoS3GNpxbuzceEg73MfSImzqcbSm1es2tD8c+wmMY+srfFdY7qD/U4PwnOc196gQ5kDBF4WZSSpor+f4OU0YhhONptKxQR42dC07N6LpTgvnNyC+cUJZyB1bFG1dyXw3OOi6shwf0Nf/jo1e+hjLM0Klygi5F+F90AGIKsxdUU4TpicxT62COzWOnwdcsKfIsUGuJ6DwgtaWEtjWOqKl53oDCiEb3vkeiNY2aDIYoBIfMA6fEPV1uQbGeJvwvoOcpF0cR76G0MLYrdO7g5mKU2tIQp7a6+wEhyQ+PiTPsSUIQEWI2k0hWlrtOM+tjTy3/xS+FOYqFjYlxWhtKdrTRqLfxxf083XZI7uKccI8R8cHuneQjBvenLWjyDd6NgkF7Q0k397JjpBAQfodG+RzuX0NVxIIzhkNHL/v4PWl3DA3gUVrdP9wUoI3D59Q4OfJKaLQ/Rlt6RSsoe6xf8iTcfsIN+GAXOepraAJ5akJdmopdWwJ0luyCChcw25iuxBzOA+7hcc5ihWGPGm3P5pbo51bfMAz+IQiP09OoTBeWOCo/fRWsqLHCAUhPooeT0O/CkeCjrM+b3pyjggUZKRjiwjZnoDCEpxRh6MoaRWObTACDOtRtACtPY32VHOLjS3AJxT6/S5oMB7/IweGt5eM6Kl8SXJCerlbhjOZz1GsQxsoYKd2V+JAQRodW2In581zW+x9Tk5BExHmW2i7kxPS3VoOGrsdze3Vvh6PD5iBT8jz8wRlUX92qYuuAVDHF+QyBB7GdI8cRDdF+KMityvGmryaKE+NkRmOLXFA4WRPnttOoV1RjL9W+CHBgzwhlHdraGui8DtHp609+IBL8QlZfk9LyBYGYizrHExQK491PMzFZn5IS19yEfQkMrt3deJYWk+h8jTu1Dh++sOxJchze47/j3gn7GoN3S3OEo4IcY5kPtp6GK21OtDtOnzAQHxCJAgXkN2F8R7v36G83G3C+18h9E4gxLC0V+/HfdsSnFv7ITkTCto5GpyWeKeWYY4t8b1bjnBKJwvnG4n6/Zg7pbKQl+n1RluvoLWY8ghah/bH4wsCUwyfS+h8GgbU5OCy+yMueEdh1BF+Vxid2wkcS18+aGttjp/s1O4TBnvv1Bhpd2yKnmKePDcK5w9ed7yWkqpRidNbQvFyVQQtjUJbqucwoQnNT8MH5AYxU34czecqHYWO3+SS91gmjEUK5WMt/YXJCLrqM76yDdypTUucp+ZLx5Yoz23nQaoN3manNoLdBEGTUDq2XLR0C9pykaJViebH4QMiQRTh8dwJrcSYtS1Rannu6zw7PnzSS+umBMXicY4EKwgUDEt8/PSvY0tQOL/9wF0sol1H9+WxQoneoQWiX+J5aKoWjWlrcFei+eP5HYEV32C2uRscdGlo54t7PzuWSJg7fXjSH/5D+DPOrQP2Hz/vIvpJoCCQjo3giqdwnqflmItm7OZBdmpdhayQO7YIGrqfuVFrE42TD+hpBBtQAR5J14DnHG11a3khaYJQHubCZchntzJZeAKH8arwe+F7wmmJ89Qy17EpPqT9hKvZhbzGfdqLBE1GeS+zQ2w3EbQzAS3VOrkqoguPp89d4IX3eTLcN2hDyQhjM1+aMwKTe6QX9LEcK27jPu0bOLwuCiPzi2M7MCerN8XcdwtzuH87lZK/aKO9lZGHdu5HS3FtShbavget54fBsUUR19eoG9vuqG/YMtIejgxxqdWBR7FSoRdOrhwDi4bJsUEu90fHEVjogQ0yF6F2bFE0cyMacvGi2Xa0/bUD5jkU4utH47lVeHjtM3w7OHqdLXS1r3BiGP53bKp5ALORrmjmCQfdieNoeRXa7heql+ChRDidCd3uoK9WjDuUqRy5omF+DFcvYv87Nu8wp5bwmH4KmnnNQUOFNrT8BNouCaNjy2ILTGKpk0DCDiJg45nUqDk2MMcGYI4tikbGO3wopxEtT0HbWcxzKDsInOa5tGx3cGm5kdeaBiguLW34wLHZUAfxBqCVjWhHl95BEA9N03kn3I9GXEjelbbLbpyvxgvCpEDVpZljs+G+fnsSWml0oLsaNHxh4B5ZUnT/+JwwkzKODgd9nzZ6nucrNOeWdMc2hvmuVrzqvxJRmGNLvlMr9Dyvt9GR5t4QZqBlunfYRJcJ40ii3O2glKMFoXxL6JP0r4c5tpHCI8Iuxd3Mf5MeUGKOLemnpD5oYyVaiTtopf6U50V9NhLm2PY3TryZ15EaHCTtbqXD7FeT17PNBms3hE4hHyteH1skfDnpL0OZY8tHE/PRiDYZtwHN3oyGczyOzSbc0y7lUUfZz3spn5lGzWCuTXhyuiRj0JfQnvsjkjybDsJeRLFT+Avr1E/IMsfmXl+QixamoY29Lqp+0OxIRcAg8PVqx9CO+G9MuvZI2kCDuwvc15Ha8PZBQzCT2QmsEt6CNxPwNrlTS4Spid8vteG4HvQCNNHg4Ai6F61ehnZNXwepI/2J8J6D9I8YrWl+JHwxqZeatnYFwgnsui8XrjoIV1O/ej5tqEuSmvdkH59sNPBjNBHTpneg0Z8cWj2oCeQIHnx4WtijXQB+xjLE1mO/eJI2LBE4m6hb8UEooQg9N+m1hLY+Wdj+5QRp9jjYMOxBo5ei2UNYP+tMcZJwG1+EZgeh6G3CQ8LIpHf/MMcWEaKHSlI71trwamokGtjmIL2jGW3ehlbzbP0OrdSjSDhX+LWwRV3qQQIoC3G0kO1+EWz9NNhwPrw76F7YfoU2YABb0Oa5aPUwShdNIH2E69k6tzno/lEt/Eb4clhybWyYjrD1kdh+tYPuHW1o8no0epg6sgUpooX1XL4QrQ4W5G2aDQ60BQnJMB0NxObfdrBBaEWLc9FmUed0ZJGcMurZ/uSoXXE1j3tw4WlROBsB7p5DIA6br3bUhv9PaLLMMgx0SbtDaDH8gaMQ9RZhThjqSG1YPSi2vsVR6tQHaHGIJePqkwpLha/QM2qXg4qEfcKL9Iw62hxbEIc5Nmx7Cra+T1thgPaeR4ulbpJxbZH68mwcbcTVX56PKNo9w7trM4yAUIhtP4Wt6046tPtGg31tM+C2L/tI2qxUCR0Oun+8yQMWJwtRE4MREKLU3H5HeEvbvQOtVaG9ke7fE7HuHz14/HaFo5d0dgoL6QHWxQRhBAFseQJ5ZrscvQC3Au31SE73DisLOZPXuzcIMQd3beuFOdTQ9aSr6JE+xDC6Y8NfxKbXO7hbi6G1B9FeksoRbefWk6/RH/mSxJSL1sDdwVzhPu4Q7vEhhnEXNjwXm25woI96tDYB7dlOLUnOLZfatPvpJ9XiYKtdR3vkdcIa4e8+xDDWYMMbsWmtLlrQ2P1oLtecWnLTP0qEC4j41DhYwA6hlYVs9jGG0YItd2h1gbaeQmsllt6RmqLevsINRH2aWAjDMNzQhLZuQGvWNCJFpVa5PMv/pLBJn7RrGAbE0dSTaCw3taVTdiTtTc3aS/qkXcMwoBVNTUJjdgRNQ/ePQbQ63mzOzXCCObXNaGpQerp3mGOL0GL6cmrYqu1IahiqI2g1WrocbUXMsaUvaXeAcDuh6TZzbobR6X6Fa9HSgHQn41oggTpSHpbYcdhJiYZhxNDO02ipqwUMMmPXdqxwq6eN+KEuqGEYtPtGQ8fabi2zAgkjhIeFSnNuxmFhTq0S7YywgEFmvWyVzSvXV/KG6O5DWlTDMHajmSvRULa9OJU5ji0i5PDAxGzhnUNaVMMw3kEzQ9FQxBxb5h1Jy2ldvEDYZkdSw0hIGxpZgGbK7Qia2S/z9BSuFn4nbBUoCjYMA1rRxu/QSk97sc0frY1OFC4WfsrTY68KrwuvGUaIeR0tLEUbF6MVH7Uksp3bsTTImyHMZ8v9K8MIMQvQwgy0cWxQd2r/H3GPF5qxuflaAAAAAElFTkSuQmCC);

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 256px 256px;

	/* animation */
	-webkit-animation-name: linearRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: linearRotate;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	-o-animation-name: linearRotate;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;

	animation-name: linearRotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@-webkit-keyframes linearRotate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform:rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay_text {
    font-color: white;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -9px;
}
